/* page styles */

html,
body{
    height:100%;
    width:100%;
    background-color:#1b1e34;
    background-image: linear-gradient(to bottom, #201127, #1b1e34);
    background-size: stretch;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

h2{
    color: white;
}

hr{
    margin-bottom: 5%;
    margin-top: 5%
}

/* nav styles */

.nav-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
  
.nav-item{
    float: right;
}

.nav-item a{
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
}

.resource{
    transition: all 0.5s;
}
  
.resource:hover{
    transform: translate(0px,-2.5px);
}

.name{
    transition: color 1s;
}

.name:hover{
    color: #94c5ac;
}

/* intro */

.intro{
    min-height: 30%;
    background-image: url("../img/ia-intro.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}

.title{
    padding-top: 2%;
    font-family: 'Anek Latin', sans-serif;
    color: white;
}

/* main */

.main{
    display: flex;
    border-top: 4px solid white;
}

aside{
    flex: 1;
    padding-top: 5%;
    font-family: 'Anek Latin', sans-serif;
    color: white;
    min-height: 100px;
    background-color: #355d68;
}

article{
    flex: 3.5;
    padding: 5%;
    border-left: 2px solid white;
    font-family: 'Anek Latin', sans-serif;
    color: white;
    min-height: 100px;
}

/* local nav */

.local-nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 5%;
}

.local-nav-link{
    display: block;
    color: white;
    text-decoration: none;
    padding: 5%;
    margin-right: 0;
}

.local-nav-link:hover{
    text-decoration: none;
    background-color:#94c5ac;
    color: black;
}

.active{
    text-decoration: none;
    background-color: #94c5ac;
    border-left: 4px solid #a73169;
    color: black;
}

/* project overview */

.challenge-container{
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    margin-bottom: 3%;
    margin-top: 3%;
    padding: 2%;
}

.challenge h3{
    text-align: center;
}

.challenge p{
    text-align: center;
    margin: 0;
    padding: 0;
}

.breakdown{
    display: flex;
    justify-content: space-around;
    margin: 0;
}

.breakdown-list{
    padding: 0;
}

.breakdown-item{
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

h4{
    text-align: center;
    border-bottom: 1px solid white;
}

/* Understanding Styles */

.img-container{
    padding: 2%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.audience{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 5%;
}

.person{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 180px;
}

.audience-icon{
    max-height: 110px;
    max-width: 110px;
    margin-bottom: 10px;
}

.description{
    text-align: center;
}

.analyst-container{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    margin-bottom: 4%;
    padding: 0;
}

.icon{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.analyst-icon{
    max-height: 100px;
    max-width: 100px;
}

.analyst-description{
   margin-left: auto;
   margin-right: auto; 
   width: 50%;
}

.analyst-description p{
    max-height: 55%;
}


.domain-model-container{
    display: flex;
}

.domain-des{
    flex: 1;
}

.domain-img{
    flex: 1;
    width: 100%;
}

.site-map-container{
    display: flex;
}

.site-map-des{
    flex: 1;
}

.site-map-img{
    flex: 1;
    width: 100%;
    align-self: center;
}

.user-journey-container{
    display: flex;
}

.journey-des{
    flex: 1;
    padding-right: 10px;
}

.journey-img{
    flex: 1;
    width: 100%;
    align-self: center;
}

.wireframes-container{
    display: flex;
}

.wireframes-des{
    flex: 1;
    padding-right: 10px;
}

.wireframes-img{
    flex: 1;
    width: 100%;
    align-self: center;
}

/* related articles */

.more-work{
    margin-top: 10%;
    margin-bottom: 10%;
    font-family: "press start 2p";
    text-align: center;
}

.more-work-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    min-height: 200px;
    justify-content: space-between;
}

.more-work-container button{
    font-family:"press start 2p";
    border-color: white;
}

/* footer placeholder */

footer{
    background-color: #94c5ac;
    min-height: 100px;
}


/* responsive style */

@media (min-width: 1px) {
    aside{
        display: none;
    }
    article{
        border-left: 0;
    }
}

@media (min-width: 1205px) {
    aside{
        display: block;
    }
    article{
        border-left: 2px solid white;
    }
}