/* page styles */

html,
body{
    height:100%;
    width:100%;
    background-color:#1b1e34;
    background-image: linear-gradient(to bottom, #201127, #1b1e34);
    background-size: stretch;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

h2{
    color: white;
}

hr{
    margin-bottom: 5%;
    margin-top: 5%
}

/* nav styles */

.nav-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
  
.nav-item{
    float: right;
}

.nav-item a{
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
}

.resource{
    transition: all 0.5s;
}
  
.resource:hover{
    transform: translate(0px,-2.5px);
}

.name{
    transition: color 1s;
}

.name:hover{
    color: #94c5ac;
}

/* intro */

.intro{
    min-height: 30%;
    background-image: url("../img/accessibility.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.title{
    padding-top: 2%;
    font-family: 'Anek Latin', sans-serif;
    color: white;
}

/* main */

.main{
    display: flex;
    border-top: 4px solid white;
}

aside{
    flex: 1;
    padding-top: 5%;
    font-family: 'Anek Latin', sans-serif;
    color: white;
    min-height: 100px;
    background-color: #355d68;
}

article{
    flex: 3.5;
    padding: 5%;
    border-left: 2px solid white;
    font-family: 'Anek Latin', sans-serif;
    color: white;
    min-height: 100px;
}

/* local nav */

.local-nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 5%;
}

.local-nav-link{
    display: block;
    color: white;
    text-decoration: none;
    padding: 5%;
    margin-right: 0;
}

.local-nav-link:hover{
    text-decoration: none;
    background-color:#94c5ac;
    color: black;
}

.active{
    text-decoration: none;
    background-color: #94c5ac;
    border-left: 4px solid #a73169;
    color: black;
}

/* Project Overview */

.breakdown{
    display: flex;
    justify-content: space-around;
    margin: 0;
}

.breakdown-list{
    padding: 0;
}

.breakdown-item{
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

h4{
    text-align: center;
    border-bottom: 1px solid white;
}

.approach-container{
    display: flex;
}

.auto-container{
    flex: 1;
    padding:1%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.number-1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c24b6e;
    box-shadow: 10px 10px #94c5ac;
    height: 150px;
    width: 150px;
    font-size: 3em;
}

.auto-container h3{
    text-align: center;
    margin-top: 40px;
}

.manual-container{
    flex: 1;
    padding:1%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.number-2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d9626b;
    box-shadow: 10px 10px #6aaf9d;
    height: 150px;
    width: 150px;
    font-size: 3em;
    margin-top: 200%
}

.manual-container h3{
    text-align: center;
    margin-top: 40px;
}


.report-container{
    flex: 1;
    padding:1%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.number-3{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ec9a6d;
    box-shadow: 10px 10px #355d68;
    height: 150px;
    width: 150px;
    font-size: 3em;
    margin-top: 370%
}

.report-container h3{
    text-align: center;
    margin-top: 40px;
}

.cell{
    padding: 10px;
    border: 2px solid #1b1e34;
}

.header{
    background-color: #355d68;
}


/*severity rating table*/

.row-1{
    background-color: #ec9a6d;
}

.row-2{
    background-color: #d9626b;
}

.row-3{
    background-color: #c24b6e;
}

.row-4{
    background-color: #a73169;
}

.cell a{
    color:#ffeb99;
}

/*Top issues table*/

.row-1b{
    background-color: #e5e5e5;
}

.issues-container table{
    color: black;
}

.wave-container{
    display: flex;
    justify-content: space-between;
}

.wave-des{
    flex: 1;
    margin-right: 2%;
}

.wave-img{
    flex: 1;
    max-width: 50%;
    margin-left: 2%
}

.easy-container{
    display: flex;
    justify-content: space-between;
}

.easy-checks{
    flex: 1;
    margin-right: 2%;
}

.checks-list{
    flex: 1;
    max-width: 50%;
    margin-left: 2%
}

.markup-container{
    display: flex;
    justify-content: space-between;
}

.markup-des{
    flex: 1;
    margin-right: 2%;
}

.markup-img{
    flex: 1;
    max-width: 50%;
    margin-left: 2%
}

.key-container{
    display: flex;
    justify-content: space-between;
}

.key-des{
    flex: 1;
    margin-right: 2%;
}

.key-img{
    flex: 1;
    max-width: 50%;
    margin-left: 2%
}

.vo-container{
    display: flex;
    justify-content: space-between;
    justify-content: center;
}

.vo-des{
    flex: 1;
    margin-right: 2%;
    padding-right: 2%;
}

.vo-img-container{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.vo-img{
    max-width: 300px;
    margin-left: 2%;
    max-height: 300px;
}

/* related articles */

.more-work{
    margin-top: 10%;
    margin-bottom: 10%;
    font-family: "press start 2p";
    text-align: center;
}

.more-work-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.related-button, .related-button::after {
    margin-right: 10%;
    margin-bottom: 10%;
    min-height: 50px;
    flex: 1;
    font-size: 15px;
    padding: 10px;
    font-family: "Press Start 2P";
    background: #c24b6e;
    border: 0;
    color: #fff;
    box-shadow: 6px 6px 0px #ffeb99;
    outline: transparent;
    position: relative;
  }
  
  .design-thinking::after {
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);
    
    content: 'DESIGN THINKING';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
    text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
    clip-path: var(--slice-0);
  }
  
  .accessibility::after {
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);
    
    content: 'Accessibility Audit';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
    text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
    clip-path: var(--slice-0);
  }

  .webdev::after {
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);
    
    content: 'Web Development';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
    text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
    clip-path: var(--slice-0);
  }

  .related-button:hover::after {
    animation: 1s glitch;
    animation-timing-function: steps(2, end);
  }
  
  @keyframes glitch {
    0% {
      clip-path: var(--slice-1);
      transform: translate(-20px, -10px);
    }
    10% {
      clip-path: var(--slice-3);
      transform: translate(10px, 10px);
    }
    20% {
      clip-path: var(--slice-1);
      transform: translate(-10px, 10px);
    }
    30% {
      clip-path: var(--slice-3);
      transform: translate(0px, 5px);
    }
    40% {
      clip-path: var(--slice-2);
      transform: translate(-5px, 0px);
    }
    50% {
      clip-path: var(--slice-3);
      transform: translate(5px, 0px);
    }
    60% {
      clip-path: var(--slice-4);
      transform: translate(5px, 10px);
    }
    70% {
      clip-path: var(--slice-2);
      transform: translate(-10px, 10px);
    }
    80% {
      clip-path: var(--slice-5);
      transform: translate(20px, -10px);
    }
    90% {
      clip-path: var(--slice-1);
      transform: translate(-10px, 0px);
    }
    100% {
      clip-path: var(--slice-1);
      transform: translate(0);
    }
  }